server:
  port: ${SERVER_PORT}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true 
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        enable_lazy_load_no_trans: true ## this to solve lazy loading "cannot initialize proxy - no Session" problem
       

  graphql:    
    graphiql:
      enabled: true        
     

logging:
  level:
    root: ${LOGGING_LEVEL:info}    